<%= simple_form_for [@employee, @leave_entry] do |form| %>
<div class="form-group">
  <%= form.input :leave_type_id, as: :select, collection: Payroll::LeaveType.all.map {|lt| [lt.title, lt.id]}, prompt: 'Select Leave type' %>
</div>
<div class="form-group">
  <%= form.input :total_leave %>
</div>
<div class="form-group">
  <%= form.input :leave_from %>
</div>
<div class="form-group">
  <%= form.input :leave_to %>
</div
<div class="form-group">
  <%= form.input :balance_leave %>
</div>
<div class="actions">
  <%= form.submit class: 'btn btn-primary' %>
</div>
<% end %>
