<p><%= link_to 'Add New', new_employee_leave_entry_path %></p>
<div class="table table-responleve">
  <table class="table table-hover table-stripped">
    <thead>
      <tr>
        <th>Leave type</th>
        <th>Total leave</th>
        <th>Leave From</th>
        <th>Leave To</th>
        <th>Balance Leave</th>
      </tr>
    </thead>

    <tbody>
      <% @leave_entries.each do |le| %>
        <tr>
          <td><%= le.leave_type.title %></td>
          <td><%= le.total_leave %></td>
          <td><%= le.leave_from %></td>
          <td><%= le.leave_to %></td>
          <td><%= le.balance_leave %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
