<div class="card">
  <div class="card-header">
    <h4 class="card-title">Leave Entry</h4>
  </div>
  <div class="card-body">
    <%= render 'form', leave_entry: @leave_entry %>
  </div>
</div>

<%= link_to 'Back', "#" %>
