<!DOCTYPE html>
<html>
<head>
  <title>Payroll</title>
  <%= stylesheet_link_tag    "payroll/application", media: "all" %>
  <%= javascript_include_tag "payroll/application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'layouts/payroll/header' %>
  
  <div class="container">
    <%= yield %>
  </div>
</body>
</html>
