<p>Name: <%= @employee.name %></p>
<p>Salary Type: <%= @employee.salary_infos.last.salary_type %></p>
<p>Salary Amount: <%= @employee.salary_infos.last.salary_amount %></p>
<div class="row">
  <div class="col-sm-6">
    <p>Incentives Amount</p>
    <div class="table table-responsive">
    <table class="table-hover table-stripped">
      <tr>
        <th>HRA/th>
        <th>DA</th>
        <th>TA</th>
        <th>Medical</th>
        <th>Gross incentive Amount</th>
      </tr>
      <tr>
        <td><%= @incentive.hra %></td>
        <td><%= @incentive.da %></td>
        <td><%= @incentive.ta %></td>
        <td><%= @incentive.medical %></td>
      </tr>
    </table>
    </div>
  </div>
  <div class="col-sm-6">
    <p>Deductions Amount</p>
    <div class="table table-responsive">
    <table class="table-hover table-stripped">
      <tr>
        <th>Advance pay</th>
        <th>Professional Tax</th>
        <th>Loan</th>
        <th>Provisional Fund</th>
      </tr>
      <tr>
        <td><%= @deduction.advance_pay %></td>
        <td><%= @deduction.professional_tax %></td>
        <td><%= @deduction.loan %></td>
        <td><%= @deduction.provisional_fund %></td>
      </tr>
    </table>
    </div>
  </div>
</div>
