<%= simple_form_for [@employee, @deduction] do |form| %>
<div class="form-group">
  <%= form.input :advance_pay %>
</div>
<div class="form-group">
  <%= form.input :professional_tax %>
</div>
<div class="form-group">
  <%= form.input :loan %>
</div>
<div class="form-group">
  <%= form.input :provisional_fund %>
</div
<div class="form-group">
  <%= form.input :remarks %>
</div>
<div class="actions">
  <%= form.submit class: 'btn btn-primary' %>
</div>
<% end %>
