<p><%= link_to 'Add New', new_employee_deduction_path %></p>
<div class="table table-respondedve">
  <table class="table table-hover table-stripped">
    <thead>
      <tr>
        <th>Advance pay</th>
        <th>Professional Tax</th>
        <th>Loan</th>
        <th>Provisional Fund</th>
        <th>Remarks</th>
      </tr>
    </thead>

    <tbody>
      <% @deductions.each do |ded| %>
        <tr>
          <td><%= ded.advance_pay %></td>
          <td><%= ded.professional_tax %></td>
          <td><%= ded.loan %></td>
          <td><%= ded.provisional_fund %></td>
          <td><%= ded.remarks %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
