<%= simple_form_for [@employee, @incentive] do |form| %>
<div class="form-group">
  <%= form.input :hra %>
</div>
<div class="form-group">
  <%= form.input :da %>
</div>
<div class="form-group">
  <%= form.input :ta %>
</div>
<div class="form-group">
  <%= form.input :medical %>
</div
<div class="form-group">
  <%= form.input :remarks %>
</div>
<div class="actions">
  <%= form.submit class: 'btn btn-primary' %>
</div>
<% end %>
