<p><%= link_to 'Add New', new_employee_incentive_path %></p>
<div class="table table-responinsve">
  <table class="table table-hover table-stripped">
    <thead>
      <tr>
        <th>HRA</th>
        <th>DA</th>
        <th>TA</th>
        <th>Medical</th>
        <th>Remarks</th>
      </tr>
    </thead>

    <tbody>
      <% @incentives.each do |ins| %>
        <tr>
          <td><%= ins.hra %></td>
          <td><%= ins.da %></td>
          <td><%= ins.ta %></td>
          <td><%= ins.medical %></td>
          <td><%= ins.remarks %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
