<div class="card">
  <div class="card-header">
    <h4 class="card-title">Incentive</h4>
  </div>
  <div class="card-body">
    <%= render 'form', incentive: @incentive %>
  </div>
</div>

<%= link_to 'Back', "#" %>
