<%= simple_form_for [@employee, @salary_info] do |form| %>
<div class="form-group">
  <%= form.input :salary_type %>
</div>
<div class="form-group">
  <%= form.input :salary_amount %>
</div>
<div class="form-group">
  <%= form.input :remarks %>
</div>
<div class="actions">
  <%= form.submit class: 'btn btn-primary' %>
</div>
<% end %>
