<p><%= link_to 'Add New', new_employee_salary_info_path %></p>
<div class="table table-responsive">
  <table class="table table-hover table-stripped">
    <thead>
      <tr>
        <th>Salary Type</th>
        <th>Salary Amount</th>
        <th>Remarks</th>
      </tr>
    </thead>

    <tbody>
      <% @salary_infos.each do |si| %>
        <tr>
          <td><%= si.salary_type %></td>
          <td><%= si.salary_amount %></td>
          <td><%= si.remarks %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
