<div class="card">
  <div class="card-header">
    <div class="row">
      <div class="col-sm-6">
        <strong class="card-title">Basic Salary</strong>
      </div>
    </div>
  </div>
  <div class="card-body">
    <%= render 'index' %>
  </div>
</div>
