<div class="card">
  <div class="card-header">
    <h4 class="card-title">Salary Info</h4>
  </div>
  <div class="card-body">
    <%= render 'form', salary_info: @salary_info %>
  </div>
</div>

<%= link_to 'Back', "#" %>
