<%= simple_form_for [@employee, @bonus], url: employee_bonuses_path(@employee), method: :post do |form| %>
<div class="form-group">
  <%= form.input :name %>
</div>
<div class="form-group">
  <%= form.input :amount %>
</div>
<div class="form-group">
  <%= form.input :remarks %>
</div>
<div class="actions">
  <%= form.submit class: 'btn btn-primary' %>
</div>
<% end %>
