<p><%= link_to 'Add New', new_employee_bonuse_path %></p>
<div class="table table-responbonusve">
  <table class="table table-hover table-stripped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Amount</th>
        <th>Remarks</th>
      </tr>
    </thead>

    <tbody>
      <% @bonuses.each do |bonus| %>
        <tr>
          <td><%= bonus.name %></td>
          <td><%= bonus.amount %></td>
          <td><%= bonus.remarks %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
