<%= simple_form_for [@employee, @leave_type] do |form| %>
<div class="form-group">
  <%= form.input :title %>
</div>
<div class="actions">
  <%= form.submit class: 'btn btn-primary' %>
</div>
<% end %>
