<p><%= link_to 'Add New', new_leave_type_path %></p>
<div class="table table-responinsve">
  <table class="table table-hover table-stripped">
    <thead>
      <tr>
        <th>Title</th>
      </tr>
    </thead>

    <tbody>
      <% @leave_types.each do |lt| %>
        <tr>
          <td><%= lt.title %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
