<div class="card">
  <div class="card-header">
    <h4 class="card-title">Leave Types</h4>
  </div>
  <div class="card-body">
    <%= render 'form', leave_type: @leave_type %>
  </div>
</div>

<%= link_to 'Back', "#" %>
