<%= simple_form_for [@employee, @leave_setting] do |form| %>
<div class="form-group">
  <%= form.input :leave_type_id, as: :select, collection: Payroll::LeaveType.all.map {|lt| [lt.title, lt.id]}, prompt: 'Select Leave type' %>
</div>
<div class="form-group">
  <%= form.input :jan %>
</div>
<div class="form-group">
  <%= form.input :feb %>
</div>
<div class="form-group">
  <%= form.input :mar %>
</div>
<div class="form-group">
  <%= form.input :apr %>
</div>
<div class="form-group">
  <%= form.input :may %>
</div>
<div class="form-group">
  <%= form.input :jun %>
</div>
<div class="form-group">
  <%= form.input :jul %>
</div>
<div class="form-group">
  <%= form.input :aug %>
</div>
<div class="form-group">
  <%= form.input :sep %>
</div>
<div class="form-group">
  <%= form.input :oct %>
</div>
<div class="form-group">
  <%= form.input :nov %>
</div>
<div class="form-group">
  <%= form.input :dec %>
</div>
<div class="actions">
  <%= form.submit class: 'btn btn-primary' %>
</div>
<% end %>
