<p><%= link_to 'Add New', new_employee_leave_setting_path(@employee.id) %></p>
<div class="table table-responlsve">
  <table class="table table-hover table-stripped">
    <thead>
      <tr>
        <th>Leave Type</th>
        <th>Jan</th>
        <th>Feb</th>
        <th>Mar</th>
        <th>April</th>
        <th>May</th>
        <th>Jun</th>
        <th>Jul</th>
        <th>Aug</th>
        <th>Sep</th>
        <th>Oct</th>
        <th>Nov</th>
        <th>Dec</th>
      </tr>
    </thead>

    <tbody>
      <% @leave_settings.each do |ls| %>
        <tr>
          <td><%= ls.leave_type.title %></td>
          <td><%= ls.jan %></td>
          <td><%= ls.feb %></td>
          <td><%= ls.mar %></td>
          <td><%= ls.apr %></td>
          <td><%= ls.may %></td>
          <td><%= ls.jun %></td>
          <td><%= ls.jul %></td>
          <td><%= ls.aug %></td>
          <td><%= ls.sep %></td>
          <td><%= ls.oct %></td>
          <td><%= ls.nov %></td>
          <td><%= ls.dec %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
