<div class="card">
  <div class="card-header">
    <h4 class="card-title">Leave Settings</h4>
  </div>
  <div class="card-body">
    <%= render 'form', leave_setting: @leave_setting %>
  </div>
</div>

<%= link_to 'Back', "#" %>
