<%= simple_form_for @employee, url: employee_index_path, method: :post do |form| %>
<div class="form-group">
  <%= form.input :name %>
</div>
<div class="form-group">
  <%= form.input :father %>
</div>
<div class="form-group">
  <%= form.input :gender, as: :select, collection: Payroll::Employee.genders.map {|x,y| [x, x]}, prompt: 'Select gender' %>
</div>
<div class="form-group">
  <%= form.input :date_of_birth %>
</div>
<div class="form-group">
  <%= form.input :address %>
</div>
<div class="form-group">
  <%= form.input :city %>
</div>
<div class="form-group">
  <%= form.input :state %>
</div>
<div class="form-group">
  <%= form.input :pincode %>
</div>
<div class="form-group">
  <%= form.input :contact_no %>
</div>
<div class="form-group">
  <%= form.input :designation %>
</div>
<div class="form-group">
  <%= form.input :department %>
</div>
<div class="form-group">
  <%= form.input :date_of_joining %>
</div>
<div class="form-group">
  <%= form.input :remarks %>
</div>
<div class="actions">
  <%= form.submit class: 'btn btn-primary' %>
</div>
<% end %>
