<p><%= link_to 'Add New', new_employee_path %></p>
<div class="table table-responsive">
  <table class="table table-hover table-stripped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Father</th>
        <th>Gender</th>
        <th>Date of Birth</th>
        <th>Address</th>
        <th>City</th>
        <th>State</th>
        <th>Pincode</th>
        <th>Contact No</th>
        <th>Designation</th>
        <th>Department</th>
        <th>Date of Joining</th>
        <!--<th>Photo</th>-->
        <th>Remarks</th>
        <th>Total Absent</th>
        <th>Total Sickness</th>
        <th>Total Break</th>
        <th>Total Casual</th>
      </tr>
    </thead>

    <tbody>
      <% @employee.each do |emp| %>
        <tr>
          <td><%= emp.name %></td>
          <td><%= emp.father %></td>
          <td><%= emp.gender %></td>
          <td><%= emp.date_of_birth %></td>
          <td><%= emp.address %></td>
          <td><%= emp.city %></td>
          <td><%= emp.state %></td>
          <td><%= emp.pincode %></td>
          <td><%= emp.contact_no %></td>
          <td><%= emp.designation %></td>
          <td><%= emp.department %></td>
          <td><%= emp.date_of_joining %></td>
          <td><%= emp.remarks %></td>
          <td><%= Payroll::LeaveEntry.absent(emp.id).count %></td>
          <td><%= Payroll::LeaveEntry.sickness(emp.id).count %></td>
          <td><%= Payroll::LeaveEntry.break(emp.id).count %></td>
          <td><%= Payroll::LeaveEntry.casual(emp.id).count %></td>
          <td><%= link_to 'Basic Salary', employee_salary_infos_path(emp.id) %></td>
          <td><%= link_to 'Incentives', employee_incentives_path(emp.id) %></td>
          <td><%= link_to 'Bonuses', employee_bonuses_path(emp.id) %></td>
          <td><%= link_to 'Deductions', employee_deductions_path(emp.id) %></td>
          <td><%= link_to 'Leave Settings', employee_leave_settings_path(emp.id) %></td>
          <td><%= link_to 'Leave Entries', employee_leave_entries_path(emp.id) %></td>
          <td><%= link_to 'Pay Slips', employee_payslips_path(emp.id) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
