<div class="card">
  <div class="card-header">
    <h4 class="card-title">New Department</h4>
  </div>
  <div class="card-body">
    <%= render 'form', department: @department %>
  </div>
</div>

<%= link_to 'Back', "#" %>
